## Welcome to Coding Exercise 5. 

We'll only have 2 questions and both of them will be difficult. You may import other libraries to help you here. Clue: find out more about the ```itertools``` and ```math``` library.

### Question 1.

*   List item
*   List item


### "Greatest Possible Combination"

We have a function as such:

```f(x1, x2, x3) = (x1^2 + x2 * x3) modulo 20 ```

Given 3 list/array/vector containing possible values of x1, x2, and x3, find the maximum output possible. 

#### Explanation:

If x1 = 2, x2 = 5, x3 = 3, then...

The function's output is: (2^2 + 5 * 3) modulo 20 = (4 + 15) modulo 20 = 19 modulo 20 = 19. 


If x1 = 3, x2 = 5, x3 = 3, then...

The function's output is: (3^2 + 5 * 3) modulo 20 = (9 + 15) modulo 20 = 24 modulo 20 = 4. 

In this case, since 19 > 4, the combination of (X1 = 2, X2 = 5, X3 = 3) gives a *greater* output value than the combination of (X1 = 3, X2 = 5, X3 = 3).

#### Example:

- Array X1: [2, 4]
- Array X2: [1, 2, 3]
- Array x3: [5, 6]

How many combinations do we have? 
1. X1 = 2, X2 = 1, X3 = 5. Output = (2^2 + 1 * 5) modulo 20 = 9 modulo 20 = 9. 
2. X1 = 2, X2 = 1, X3 = 6. Output = 10
3. X1 = 2, X2 = 2, X3 = 5. Output = 14
4. X1 = 2, X2 = 2, X3 = 6. Output = 16
5. X1 = 2, X2 = 3, X3 = 5. Output = 19
6. X1 = 2, X2 = 3, X3 = 6. Output = (2^2 + 3 * 6) modulo 20 = 22 modulo 20 = 2
7. X1 = 4, X2 = 1, X3 = 5. Output = 1
8. X1 = 4, X2 = 1, X3 = 6. Output = 2
9. X1 = 4, X2 = 2, X3 = 5. Output = 6
10. X1 = 4, X2 = 2, X3 = 6. Output = 8
11. X1 = 4, X2 = 3, X3 = 5. Output = 11
12. X1 = 4, X2 = 3, X3 = 6. Output = 14

Out of these 12 combinations, what is the maximum output of our function?

The maximum output is 19, achieved with X1 = 2, X2 = 3, X3 = 5. 

Answer : 19

(No need to specify the values of X1, X2, X3).

In [ ]:
### Write your solution here ###
def maximum(x1, x2, x3):
    return

### Question 2. 
### "Position in Repeating Series"


Your function will be called ```position``` and it has 3 inputs.

This problem has 3 inputs:
- The first input, (n), is the maximum number in our series
- The second input, (r), is how many times our series will be repeated
- The third input, (p), is the position of the desired output.

Here are a few examples:

- If n = 3, and r = 1, then our series will be: 1,2,3,2,1

- If n = 4, and r = 1, then our series will be: 1,2,3,4,3,2,1

- If n = 3, and r = 2, then our series will be: 1,2,3,2,1,2,3,2,1

- If n = 4, and r = 2, then our series will be: 1,2,3,4,3,2,1,2,3,4,3,2,1

- If n = 5, and r = 3, then our series will be: 1,2,3,4,5,4,3,2,1,2,3,4,5,4,3,2,1,2,3,4,5,4,3,2,1

Now, what is the meaning of the third input? 

We want to know what's the value of the number in the position of p. The first number in the series is the first position. This is not the same as index! Indexing in Python starts at 0, and indexing in R starts at 1, so we want to make a standard that applies to both Python and R. 

#### Example 1

n = 3, r = 1, p = 4

The series is : 1, 2, 3, 2, 1

The 4th number of the series = suku ke - 4 dari barisan tersebut = 2.

Answer = 2.

#### Example 2

n = 3, r = 2, p = 7

The series is : 1, 2, 3, 2, 1, 2, 3, 2, 1

The 7th number of the series = suku ke - 7 dari barisan tersebut = 3.

Answer = 3.

#### Example 3

n = 4, r = 2, p = 7

The series is : 1, 2, 3, 4, 3, 2, 1, 2, 3, 4, 3, 2, 1

The 7th number of the series = suku ke - 7 dari barisan tersebut = 1.

Answer = 1.

In [ ]:
### Write your solution here ###

def position(n, r, p):
    return